html {
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

img {
    border:5px solid white;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    margin: 20px 0px;
    text-align: center;
    font-size: 3.5rem;
}

p {
    margin: 10px 0px;
    text-align: center;
}
