body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.h-logo {
  color: #191970;
}

.main {
  display: inline-block;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  float: left;
  height: 200px;
  width: 300px;
  margin-right: 50px;
}

footer {
  clear: both;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  
  .card {
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
  }

  .tile-image {
    display: inline;
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
  }

}

